<section class="projects">
    <div>
        <ul class="categori">
            <li>Mobile</li>
            <li>Artificial Inteligence (API)</li>
            <li>Web development</li>
        </ul>
    </div>

    <div class="container-projects">
        @for(a of projects;track $index){
            <div class="card-project">
                <div class="image-project">
                    <img [src]="a.image" [alt]="a.name">
                </div>
                <div class="description-project">
                    <p class="titlle">{{a.name}}</p>
                    <p class="description-card-project">{{a.description}}</p>
                    <div class="tec">
                        @for (item of a.languages; track $index) {
                            <div class="language">
                                <p>{{item}}</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</section>